.event{

  background:#ffffff;
  width:120px;
  height:210px;
  float:left;
  margin:0 10px;
  padding-top:10px;
  -webkit-box-shadow: 10px 10px 66px -28px rgba(0,0,0,0.32);
  -moz-box-shadow: 10px 10px 66px -28px rgba(0,0,0,0.32);
  box-shadow: 10px 10px 66px -28px rgba(0,0,0,0.32);


}

.eventText{
  font-size:13px;
  text-align: center;
  margin-top:7px;
}

.meetups{
  margin:0 10px;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #eeeeee;
}


.profileimg{
  height:90px;
  width:90px;
  background:#eeeeee;
  border-radius:120px;
  margin:0 15px;
}

.meetup{

  background:#ffffff;
  width:420px;
  height:240px;
  float:left;
  margin:1%;
  border:1px solid #eeeeee;

}

.eventtitle, .eventinfo{
  margin:15px;
}

.eventtitle{
  font-size:17px;
  font-weight:bold;
}

.eventimage{
  height:170px;
  width:100%;
  background:#e0dfdf;
}

.scrolling-wrapper{
  overflow-x: auto;
  height: 287px;
  padding-top: 19px!important;
}

.bg-light {
    background-color: #f8f9fa!important;
    margin-top: 65px;
    z-index:999999;
    position: fixed;
    top: 0;
    left: 0;
    height:250px;
    padding:30px;

  }


  @media only screen and (max-width: 800px) {

    .bg-light {
        background:none!important;

      }

    .flex-column{
      background:#f8f9fa!important;
    }


}
