
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.modal {
    height: auto;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
}

.col-12{overflow:hidden!important;}

.rightcontent{width:75%; float:left; display:inline;}

.leftcontent{width:20%; float:left; display:inline;}


.cardTile{
  border:1px solid #eeeeee;
  width:370px;
  padding:10px 5px 5px 5px;
}

.catchup{
  background: #ffffff;
  width: 370px;
  height: 120px;
  border-radius:7px;
  float: left;
  margin: 1%;
  border: 1px solid #eeeeee;
  padding-top:12px;
}

.catchups{
  margin:0 10px;
}



.event{

  background:#eeeeee;
  width:507px!important;
  height:187px!important;
  float:left;
  margin:0 10px;
  padding-top:35px;
  border:1px solid #e0e0e0;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #eeeeee;
}


.profileimg{
  height:90px;
  width:90px;
  background:#eeeeee;
  border-radius:120px;
}

p.eventText{
  font-size:.8em!important;
  margin-left:12px;
}

.meetup{
  border:1px solid #eeeeee;
  width:550px!important;
  height:240px!important;
  float:left;
  margin:0 10px;
  padding-top:195px;
  border-radius:0!important;
  background:#9999;
  color:#ffffff!important;
  background:url("https://images.unsplash.com/photo-1548199973-03cce0bbc87b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");

}




.eventtitle, .eventinfo{
  margin:0 15px;
}

.eventtitle{
  font-size:17px;
  font-weight:bold;
  line-height:7px;
  color:#ffffff!important;
}

.eventimage{
  height:170px;
  width:100%;
  background:#e0dfdf;
}

.scrolling-wrapper{
  overflow-x: auto;
  margin-bottom:2%;

}

.scrolling-wrapper2{
  overflow-x: auto;
  height: 287px;
  padding-top: 19px!important;

}

.bg-light {
    background-color: #f8f9fa!important;
    margin-top: 45px;
    z-index:999999;
    position: fixed;
    top: 0;
    left: 0;
    height:250px;

  }


  @media only screen and (max-width: 800px) {

    .bg-light {
        background:none!important;
        border:0!important;

      }

    .flex-column{
      background:#f8f9fa!important;
    }


}
