.catchup{
  background: #ffffff;
  width: 370px;
  height: 120px;
  border-radius:7px;
  float: left;
  margin: 1%;
  border: 1px solid #eeeeee;
  padding-top:12px;
}

.catchups{
  margin:0 10px;
}

.event{

  background:#eeeeee;
  width:507px!important;
  height:187px!important;
  float:left;
  margin:0 10px;
  padding-top:35px;
  border:1px solid #e0e0e0;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #eeeeee;
}


.profileimg{
  height:90px;
  width:90px;
  background:#eeeeee;
  border-radius:120px;
  margin:0 15px;
}

.meetup{
  background:#eeeeee;
  width:550px!important;
  height:140px!important;
  float:left;
  margin:0 10px;
  padding-top:35px;
  border-radius:0!important;
}

.eventtitle, .eventinfo{
  margin:15px;
}

.eventtitle{
  font-size:17px;
  font-weight:bold;
}

.eventimage{
  height:170px;
  width:100%;
  background:#e0dfdf;
}

.scrolling-wrapper{
  overflow-x: auto;
  height: 187px;
  padding-top: 19px!important;
}

.bg-light {
    background-color: #f8f9fa!important;
    margin-top: 65px;
    z-index:999999;
    position: fixed;
    top: 0;
    left: 0;
    height:250px;
    padding:30px;

  }


  @media only screen and (max-width: 800px) {

    .bg-light {
        background:none!important;

      }

    .flex-column{
      background:#f8f9fa!important;
    }


}
