.event{

  background:#eeeeee;
  width:110px;
  height:180px;
  float:left;
  margin:0 10px;
  padding-top:35px;
  border:3px solid #ffffff;
  -webkit-box-shadow: 10px 10px 66px -28px rgba(0,0,0,0.32);
  -moz-box-shadow: 10px 10px 66px -28px rgba(0,0,0,0.32);
   box-shadow: 10px 10px 66px -28px rgba(0,0,0,0.32);

}

.meetups{
  margin:0 10px;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #eeeeee;
}


.profileimg{
  height:110px;
  width:110px;
  background:#ffffff;
  border-radius:120px;
  margin:0 15px;
}

.meetup{

  background:#eeeeee;
  width:420px;
  height:240px;
  float:left;
  margin:1%;

}

.eventtitle, .eventinfo{
  margin:15px;
}

.eventtitle{
  font-size:17px;
  font-weight:bold;
}

.eventimage{
  height:170px;
  width:100%;
  background:#e0dfdf;
}


.scrolling-wrapper{
	overflow-x: auto;
}
