.event{

  background:#eeeeee;
  width:420px;
  height:180px;
  float:left;
  margin:1%;
  padding-top:35px;


}

.profileimg{
  height:110px;
  width:110px;
  background:#ffffff;
  border-radius:120px;
  margin:0 15px;
}

.meetup{

  background:#eeeeee;
  width:420px;
  height:240px;
  float:left;
  margin:1%;

}

.eventtitle, .eventinfo{
  margin:15px;
}

.eventtitle{
  font-size:17px;
  font-weight:bold;
}

.eventimage{
  height:170px;
  width:100%;
  background:#e0dfdf;
}
